img {
    width: 70%;
    height: auto;
}
.container {
    background-color: black;
}
.container-appear {
    animation: 1.5s zoomIn;
}

.container-appear.container-appear-active {
    transition: 1s;
}
body {
    background-image: url("https://static.pexels.com/photos/220201/pexels-photo-220201.jpeg");
}
@media (min-width: 576px) {
    .container {
        max-width: 600px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 600px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 600px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 600px;
    }
}

