/*Canvas style*/
@media (max-width: 576px) {
    canvas {
        display: none;
    }
}
@media (min-width: 577px) and (max-width: 767px) {
    #canvas {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    canvas {
        width: 140px;
        height: 800px;
    }
}