#nasaImg {
    margin-top: 5%;
    padding: 30px;
}
#nasaImg h3 {
    font-family: 'Michroma', sans-serif;
    color: navajowhite;
}
#nasaImg p {
    font-family: 'Open Sans', sans-serif;
    color: white;
}